{% extends 'base.html' %}
{% block body_block %}

<h1>Lights Home</h1>

{% if lights %}
            <ul>
                {% for light in lights %}
                	<li>{{ light.name }}</li>
	                	<form action="" method="post" enctype="multipart/form-data">
	    					<button class = "btn btn-success" name="command" value="{{light.ipAddress}},light on">On</button>
	    					<button class = "btn btn-info" name="command" value="{{light.ipAddress}},light auto">Auto</button>

	    					<div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    Timer <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu">
							  	<li><button class = "btn btn-default" name="command" value="{{light.ipAddress}},light auto-time 10">10 seconds</button></li>
							  	<li><button class = "btn btn-default" name="command" value="{{light.ipAddress}},light auto-time 20">20 seconds</button></li>
							    <li><button class = "btn btn-default" name="command" value="{{light.ipAddress}},light auto-time 30">30 seconds</button></li>
							    <li><button class = "btn btn-default" name="command" value="{{light.ipAddress}},light auto-time 60">1 minute</button></li>
							    <li><button class = "btn btn-default" name="command" value="{{light.ipAddress}},light auto-time 120">2 minutes</button></li>
							    <li><button class = "btn btn-default" name="command" value="{{light.ipAddress}},light auto-time 300">5 minutes</button></li>
							  </ul>
							</div>

	    					<button class = "btn btn-danger" name="command" value="{{light.ipAddress}},light off">Off</button>
	    					{% csrf_token %}
						</form>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no lights on the network.</strong>
        {% endif %}

{% endblock %}
