{% extends 'base.html' %}
{% block body_block %}

<h1>Lights Home</h1>

{% if lights %}
            <ul>
                {% for light in lights %}
                	<li>{{ light.name }}</li>
	                	<form action="" method="post" enctype="multipart/form-data">
	    					<button class = "btn btn-success" name="command" value="{{light.ipAddress}},light on">Light On</button>
	    					<button class = "btn btn-info" name="command" value="{{light.ipAddress}},light auto">Light Auto</button>
	    					<button class = "btn btn-danger" name="command" value="{{light.ipAddress}},light off">Light Off</button>
	    					{% csrf_token %}
						</form>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no lights on the network.</strong>
        {% endif %}

{% endblock %}